@page
@model Warehouse.Pages.User.ContactsModel
@{
    ViewData["Title"] = "Contacts";
}
<div class="text-center">
    <h1 class="display-4"> Contacts</h1>
    <h3 class="display-4" >We Are Ready to Discuss Everything in Person or at a Meeting></h3>

</div>
<div class="text-center">
<h5 class="display-4">  Address : </h5>
<p>2130 Fulton Street San Diego, CA</p>
</div>

<div class="text-center">
<h3 class="display-4">Phone No:</h3>
<p>
    (123) 456-7890
    (123) 456-7891</p></div>

    <div class="text-center">
        <h3 class="display-4">E-mail</h3>
<p>
    info@yoursite.com
    www.yoursite.com
</p></div>
