@page
@model Warehouse.Pages.User.List_priceModel

<head>
    <title>List and Price </title>
</head>
<body>
    <table border="0">
    <h1> List & Price</h1>
    <tr>
        <th>List</th>
        <th>Price</th>
    </tr>
    <tr>
        <td>Warehouse Fans and HVAC.</td>
        <td>2000/-</td>
    </tr>
    <tr>
        <td>Workbenches and. Packing Tables.</td>
        <td>1000/-</td>
    </tr>
    <tr>
        <td>Safety Guards / Barriers.</td>
        <td>500/-</td>
    </tr>
    <tr>
        <td>Dock and Trailer Equipment</td>
        <td>5000/-</td>
    </tr>
    <tr>
        <td>Vinyl Strip Door Kits.</td>
        <td>6000/-</td>
    </tr>
    <tr>
        <td>Dock Doors and Gates.</td>
        <td>2000/-</td>
    </tr>
    <tr>
        <td>Safety Mirrors.</td>
        <td>200/-</td>
    </tr>
    </table>
</body>
