@page
@model Warehouse.Pages.User.LoginIndexModel
@{
    ViewData["Title"] = "Loginindex";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Login</h1>
    <p>Cargo LTD <a href="https://en.wikipedia.org/wiki/Cargo#:~:text=Delivering%20everything%20from%20letters%20to,replenish%20their%20shelves%20with%20goods.">Learn more about cargo</a>.</p>
</div>

