@page
@model Warehouse.Pages.User.NewentryModel
@{
    ViewData["Title"] = "New entry";
}
<div class="text-center">
    <h1 class="display-4">New entry to WareHouse</h1>
    <h3 class="display-4"></h3>
</div>
<div>
    <input type="text" asp-for="Entry" name="newentry" value="enter your item name" />
    <label="newentry">enter your item name</label>
</div>