@page
@model Warehouse.Pages.User.ServicesModel
@{
    ViewData["Title"] = "Services";
}
<h1>Our Services</h1>
<p>
    <h3>
        Multi-temp Space
    </h3>
    Our company has over 200,000 sq. ft. of strategically located, sprinklered, multi-temp space offering inside rail, 30 doors, separate rooms with deep lane, racked, and bulk areas.
</p>
<p>
    <h3>
        Quick Freezing
    </h3>
    DEPOT Company offer quick freezing services. We can accommodate up to 750 pallets in the quick freeze room.
</p>
<p>
    <h3>
        DEPOT Company offer quick freezing services
</h3>
    We were able to install 12,000 pallet positions in space that conventionally would hold 7,000 what allows for maximum use of warehouse space
</p>
<p>
    <h3>
        Labeling
    </h3>
    We offer a label and sticker application service perfect for promotional and shipping applications.
</p>
<p>
    <h3>
        Packing
    </h3>
    We carefully packs products with your packaging to present a strong, uniform brand image to your customers.
</p>
<p>
    <h3>
        Rail Transloading
    </h3>
    DEPOT Company  transloads hundreds of dry, refrigerated, and frozen railcars a year, with plenty of onsite storage warehousing, if needed.
</p>