@page
@model Warehouse.Pages.User.WMlocationModel
@{
    ViewData["Title"] = "Location";
}
<div class=" text-center">
    <h1 class="display-4">Ware House Locations</h1>
    <h3 class="display-4">We have warehouses on the location and delivery on same locations</h3>
</div>
<input type="checkbox" asp-for="field.level" name="location" value="Japan">
<label for="location">Japan</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="United States">
<label for="location">United States</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="Spain">
<label for="location">Spain</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="Italy">
<label for="location">Italy</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="France">
<label for="location">France</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="Australia">
<label for="location">Australia</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="UK">
<label for="location">UK</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="India">
<label for="location">India</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="Germany">
<label for="location">Germany</label>
<br />

</div>
<input type="checkbox" asp-for="field.level" name="location" value="Canada">
<label for="location">Canada</label>
<br />

